# Pastas de compilação local (ESSENCIAL)
**/bin/
**/obj/
**/dist/
**/build/
**/out/

# Pastas de ferramentas e logs
.vs/
.vscode/
.git/
.github/
.idea/
*.log

# Arquivos de segredos e ambiente (Para não vazarem para a imagem)
.env
.env.local
.usersecrets

# Pastas do Docker e dados
data/
node_modules/